* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #15112e;
  --second-color: #dcc415;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.logo_title a {
  font-size: 40px;
  color: black;
  font-weight: bold;
}
.wathclist_link a {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.watchlist_link {
  color: black;
  font-size: 20px;
  font-weight: 500;
}
.home_content {
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--second-color);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}
.search {
  margin-top: 20px;
  float: right;
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  border-radius: 30px;
  border: 2px solid var(--main-bg-color);
  color: black;
}
.search:focus {
  outline: none;
}
.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
}
.movie_li {
  background-color: var(--second-color);
  border-radius: 3px;
  margin: 1rem;
  width: 300px;
  overflow: hidden;
  position: relative;
}
.movie_img {
  width: 300px;
}
.movie_poster img {
  width: 400px;
}
.movie_descr {
  margin-left: 120px;
}
.movie_container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 35px auto;
  justify-content: space-between;
}
.movie_info {
  display: flex;
  padding: 0 1.5em;
  justify-content: space-between;
  align-items: center;
}
.favorite_icon {
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: white;
}

.tag {
  background-color: var(--main-bg-color);
  border: 1px solid var(--second-color);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 83%;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}

.btn {
  padding: 10px 15px;
  background-color: var(--second-color);
  border-radius: 5px;
  border: none;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.wathclist_card {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: 0 auto;
  width: 1000px;
}
.wathclist_card img {
  width: 300px;
}
.wathclist_card .movie_card {
  margin-top: 40px;
}
.wathclist_card .btn {
  display: flex;
  align-items: center;
}
.watchlist_page .header {
  background-color: var(--main-bg-color);
}
